<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAM Login</title>
    <script src="https://kit.fontawesome.com/4be2f9d56b.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/static/login/index.css">
</head>
<body>
    <div class="all">
        <div class="form">
            <img class="img1" src="/static/img/sam.png" alt="logo">
            <img class="img2" src="/static/img/logo.png" alt="logo">

            {% block contenido %}

            

            {% endblock %}


        </div>
    </div>
</body>
</html>