{% extends 'master_login.html' %}

{% load static %}

{% block contenido %}
<form action="/registrar/nuevo" method="POST" >

    <h2>Registro de Usuario</h2>

    {% csrf_token %}

    <input type="text"  name="nombres" placeholder="Ingrese sus nombres" autocomplete="off" autofocus required>
    <input type="text"  name="user" placeholder="Ingrese el usuario" autocomplete="off" autofocus required>
    <input type="password" name="password" placeholder="Contraseña" autocomplete="new-password" required>

    <input type="submit" value="Registrarme">

</form>

{% endblock %}