{% extends "master.html"%}
{% load static %}
{ % block title % } PRODUCTOS { % endblock % }
{ % block contenido % }

<h2 align="center">Historia de la empresa</h2>
<div class="historia">

  <p> El surgimiento de la empresa fue muy cómoda ya que, se pude ver una instancia en la que
    puedo ofrecer mis productos que están hechos totalmente a mano, y son parte de mi
    emprendimiento. </p><br>

    <p>Me vi decida a encontrar un lugar en el cual pueda realizar las ventas
      de mi trabajo, en donde los clientes a la vez se sientan a gusto en el momento que
      quieran servir algo en el mismo local o de lo contrario llevar los productos a la casa. </p><br>

  <p>Inicie realizando comida rápida, para los pedidos, y cada día me fui desarrollando en más
     comidas, ya sea como en la creación de postres, galletas, tortas, y mucho más. </p><br>

  <p> Estas comidas las podrás encontrar en mi tienda física, y o también podrán realizarme
    podidos de manera online y luego realizar una previa coordinación para la entrega de
     los productos que haya pedido</p>
</div>

{ % endblock % }
