<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"  href="/static/css/index.css">
    <title>PRODUCTOS</title>
  </head>
  <body background="https://i.pinimg.com/originals/c6/e5/5e/c6e55e26f9911de6a8e476e33c3a9a68.jpg">
      
      <!-- <input type="submit" name="Historia" href="HISTORIA.PHP"></input> -->
    <header class="header">
        <h1> LA DULCERIA DE LAS DELICIAS</h1>
        <nav>
          <ul>
            <li><a href="historia.php">Inicio</a></li>
            <li><a href="historia.php">Historia</a></li>
          </ul>
    </header>

  <table align="center">
    <button><a href="historia.php">historia</button></a>
    <button><a href="INICIO.PHP">registro</button></a>
    <a href="INICIO.PHP">ATRAS</a>
  </table>

    <!--<input type="submit" name="Mi cuenta">-->
    <h2 align="center">PRODUCTOS</h2>

    <td>
      <form  action="carrito.php" method="post">
        <input type="hidden" name="txtproducto" value="merengue">
      </form>
    </td>

    <table width="200" border="1" align="center">
  <tbody>
    <tr>
      <td><img src="foto1.jpg" style="width:300px;height:300px" color="white"><b>Torta merenge con crema.$16000</b></a></td>
      <td><img src="foto2.jpg" style="width:300px;height:300px" color="white"><b>Torta decorativa $20000 </b></td>
      <td><img src="foto3.jpg" style="width:300px;height:300px" color="white"><b>Torta de franbuesa $25000 </b></td>
      <td><img src="foto4.jpg" style="width:300px;height:300px" color="white"><b>Torta de chocolate con crema $30000</b></td>
    </tr>
  </tbody>
  </table><br>

  <table width="200" border="1" align="center">
    <tbody>
      <tr>
        <td><img src="foto5.jpg" style="width:300px;height:300px" color="white"><b>Empanadas $7000 (docena)</b></a></td>
        <td><img src="foto6.jpg" style="width:300px;height:300px" color="white"><b>Alfajores enpolvados 8x$3000</b></td>
        <td><img src="foto7.jpg" style="width:300px;height:300px" color="white"><b>Torta de crema con piña $40000</b></td>
        <td><img src="foto8.jpg" style="width:300px;height:300px" color="white"><b>Arcoiris de masmelo $27000</b></td>
      </tr>
    </tbody>
  </table><br>

    <table width="200" border="1" align="center">
      <tbody>
      <tr>
      <td><img src="foto9.jpg" style="width:300px;height:300px" color="white"><b>Coptes de postres </b></a></td>
      <td><img src="foto10.jpg" style="width:300px;height:300px" color="white"><b>Yogurt con jalea $3500</b></td>
      <td><img src="foto11.jpg" style="width:300px;height:300px" color="white"><b>Torta frambueza $35000</b></td>
      <td><img src="foto12.jpg" style="width:300px;height:300px" color="white"><b>Alfajores y postes $12000</b></td>
    </tr>
  </tbody>
  </table><br>

  <table width="200" border="1" align="center">
    <tbody>
    <tr>
      <td><img src="foto17.jpg" style="width:300px;height:300px" color="white"><b>Torta primera comunion $38000</b> </a></td>
      <td><img src="foto19.jpg" style="width:300px;height:300px" color="white"><b>yogurt con fresa $3000</b></td>
      <td><img src="foto20.jpg" style="width:300px;height:300px" color="white"><b>torta de cremas $25000</b></td>
      <td><img src="foto21.jpg" style="width:300px;height:300px" color="white"><b> mini tartaletas $500</b></td>
    </tr>
  </tbody>
</table><br>

  <table width="200" border="1" align="center">
    <tbody> 
    <tr>
      <td><img src="foto22.jpg" style="width:300px;height:300px" color="white"><b>Berlines $3000 </b></td>
      <td><img src="foto23.jpg" style="width:300px;height:300px" color="white"><b>Tia chica $30000 </b></td>
      <td><img src="foto24.jpg" style="width:300px;height:300px" color="white"><b>Bautizo $40000 </b></td>
      <td><img src="foto25.jpg" style="width:300px;height:300px" color="white"><b>torta de unicornio $50000</b></td>
    </tr>
</table><br>

  <table width="200" border="1" align="center">
    <tbody>
    <tr>
      <td><img src="foto26.jpg" style="width:300px;height:300px" color="white"><b>shek $45000 </b></td>
      <td><img src="foto27.jpg" style="width:300px;height:300px" color="white"><b>floreria $30000</b></td>
      <td><img src="foto28.jpg" style="width:300px;height:300px" color="white"><b> Graduacion $60000</b></td>
      <td><img src="foto29.jpg" style="width:300px;height:300px" color="white"><b> empolvados $5000 </b></td>
    </tr>
  </tbody>
</table><br>

  <table width="200" border="1" align="center">
    <tbody>
    <tr>
      <td><img src="foto30.jpg" style="width:300px;height:300px" color="white"><b> mini brazo de reina $25000</b></td>
      <td><img src="foto31.jpg" style="width:300px;height:300px" color="white"><b> conejipascua $40000</b></td>
      <td><img src="foto32.jpg" style="width:300px;height:300px" color="white"><b>Torta de matrimonio $70.000</b></td>

    </tr><br>
  </tbody>
</table>
  <br><br><br>
  </body>
</html>
