{% extends "master.html" %}
{% load static %}
{% block title %} PRODUCTOS {% endblock %}
{% block contenido %}

  <h2 align="center">Tus Reservas!</h2>

<div class="detalle_reserva">

    <h3>Detalle de Reserva</h3>
    <p>Confirmar listado de productos!, estos estaran listo para su retiro dentro de 24 horas.</p>
    <p>Dirección de retiro: Gran Avenida 222, San Miguel</p>
    <img src="/static/img/mapa.png" width="200" height="200">

</div>

  <div class="reservas">
      {% for reserva in request.session.reservas %}
        <div>
            <img src="{{reserva.imagen}}" alt="">
            <h3>{{reserva.nombre}}</h3>
            <p>${{reserva.precio}}</p>
            <button class="boton1" type="button">Eliminar</button>
        </div>
        
        {% endfor %}


  </div>


{% endblock %}
